<?php
// config.php
// configuration settings for the expungement generator
//

$debug=false;

// database connection information
$dbPassword = "XRNRJR6vHGejwNCp";
$dbUser = "ronholla_ExpUser";
$dbName = "ronholla_expungementsite";
$dbHost = "localhost";

/*
require_once("/home/ronholla/tools/dbconnect.php");

$dataDir = "/home/ronholla/www/crepdb/data/";
$baseURL = "http://www.ronhollander.com/crepdb/";
$templateDir = "templates/";
$signatureDir = "/home/ronholla/www/crepdb/images/sigs/";
$toolsDir = "/home/ronholla/tools/";
$pdftotext = "pdftotext";
$tempFile = tempnam($dataDir, "FOO");
$docketSheetsDir = "/home/ronholla/docketsheets";
*/

require_once("c:\mikes program files\wamp\\tools\dbconnect.php");

$baseDir = "c:\mikes program files\wamp";
$dataDir = $baseDir . "\www\\eg\data\\";
$templateDir = $baseDir . "\www\\eg\\templates\\";
// $signatureDir = "./images/sigs/";
$toolsDir = "\"" . $baseDir . "\\tools\\";
$baseURL = "http://localhost/eg/";
$tempFile = tempnam($dataDir, "FOO");
$pdftotext = "pdftotext.exe \"";
$docketSheetsDir = $baseDir . "\\docketsheets\\";

// set up the Message handler
require_once("Message.php");
$errorMessages = new Message();

// this logs a user in; must happen early on b/c of header requirements with session vars
require_once("doLogin.php");

?>